*{
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
}

.fa_div{

	margin-top:20px;
	border-radius: 4px;
    background-color: #3399FF;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    padding: 2px 10px 4px 10px;
    border: 0;
    height: 38px;
}
.fisrt_div{
	height: 400px;
	border: 1px solid gray;
	border-radius: 8px;
	margin-top: 20px;
	padding-bottom: 20px;


}
.sub_div_for_chart{
	height: 200%;
	background: #F5F5F5;
	margin-left: -15px;
	float: left;

}
.sub_div_for_list{

}
.sub_div_for_list ul{list-style: none;}
.sub_div_for_list ul li{margin-bottom:5px;border-bottom: 1px solid #3399FF; padding: 12px;}
.sub_div_for_list ul li:last-child{
	border-bottom: none;
}

.head{
font-size: 18px;
border-bottom:2px solid gray;
margin-top: 1px;
margin-bottom:10px;
}


.another_div_for_list{
	border: 1px solid gray;
	border-radius: 8px;
	height: 840px;
	margin-top: 10px;
}
.another_div1{
	margin-left: -15px;
    float: left;
}

.another_div2{
    float: left;
}
.table tr th{
	font-weight: normal;
}
.table tr:first-child{font-weight: bold}
.another_div2 ul{list-style: none;}
.another_div2 ul li{padding: 5px;border-bottom: 1px solid #3399FF;}
.another_div2 ul li:last-child{border-bottom: none;}
.another_div2 ul li:first-child{font-weight: bold;}